body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;

  }
.lead-heading{
    font-size: 50px;
    color: white;

}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
}
#wrapper::before {
  background-image: url(./background.jpg);
  filter: blur(3px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  
  /* Position text in the middle of the page/image */
.container {
    background-color: rgba(0, 0, 0, 0.562); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid #ffffff;
    /* box-shadow: 5px 10px #3a7af29c;   */
    /* transform: translate(-50%, -50%); */
    z-index: 0;
    width: 30%;
    height: 30%;
    padding: 20px;
    text-align: center;
  }

  .container-two {
    background-color: rgba(0, 0, 0, 0.562); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid #ffffff;
    /* box-shadow: 5px 10px #3a7af29c;   */
    /* transform: translate(-50%, -50%); */
    z-index: 0;
    width: 30%;
    height: 30%;
    padding: 20px;
    text-align: center;
    transition: all .5s linear;
    overflow: scroll;
  }

  /* button css */
.input-box{
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 15px;
    width: 20%;
    height: 20px;
    border: 2px solid black;
    border-radius: 8%;
    display: none;
}

#returnbtn {
  display: none;
}

#sign-inbtn {
  display: none;
}

#register-details {
  display: none;
}

.hideMe {
  display: none;
}

.showMe {
  display: block;
}
/* button css & flex */
.btnStyle {
    border-radius: 4px;
    background-color: #3A7BF2;
    border: 2px solid #4CAF50; /* Green */
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    width: 20%;
    height: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.btnSign {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}

.btnSign:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btnReg {
  background-color: #3A7BF2;
  border: 2px solid #3A7BF2;
  transition-duration: 0.2s;
}

.btnReg:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
#splash{
  display: flex;
  justify-content: center;
}
#splash3 {
  display: flex;
  justify-content: center;
}

.wobbleMe {
  animation-duration: 3s;
  animation-delay: 1s;
}

/* button css */
#returnbtn{
  background-color: rgb(204, 21, 21);
  border: 2px solid rgba(247, 8, 8, 0.705);
  transition-duration: 0.4s;
}

#register-btn {
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5 infinite;
}

#returnbtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid rgb(255, 255, 255);
}


#sign-inbtn{
  background-color: rgb(13, 182, 50);
  border: 2px solid rgb(13, 182, 50);
  transition-duration: 0.4s;
}

#sign-inbtn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgb(0, 0, 0);
}

#register-details{
  background-color: rgb(13, 182, 50);
  border: 2px solid rgb(13, 182, 50);
  transition-duration: 0.4s;
}

#register-details:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgb(0, 0, 0);
}

#sign-outbtn {
  display: flex;
  /* background-color: rgba(58, 122, 242, 0.637);
  border-color: rgba(58,122,242, 0.637); */
  background-color: transparent;
  justify-content: flex-start;
  color: white;
  height: 30px;
  width: 50px;
  border-radius: 4px;

}

#sign-outbtn:hover {
  background-color: rgba(255, 0, 0, 0.404);
  border-color: rgba(255, 0, 0, 0.301);
}
@keyframes mymove {
  50% {box-shadow: 1px 1px 10px 10px rgba(0, 183, 255, 0.568);}
}

#sign-outbtn {
  display: flex;
  justify-content: flex-end;
}




/*! PETERS REMINDER PAGE CSSSssssssss */

#myDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myUL {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;

}
li {
  width: 80%;
}
  /* Remove margins and padding from the list */ 

  ul { 
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul button {
    margin-left: 50px;
  }
  
  ul button { 
    margin-left: 20px;
  }

  /* Style the list items */
  ul li {
    cursor: pointer;
    padding: 2px 10px 8px 0px;
    background: #e68e0bb9;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
  
    /* make the list items unselectable */
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
   ul li:nth-child(odd) {
    background: #f9f9f980;
  } 
  
  /* Darker background-color on hover */
   ul li:hover {
    background: rgba(96, 253, 57, 0.699);
    border: 2px solid black;
    border-color: black;
  } 
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(88, 88, 88);
    color: #fff;
    text-decoration: line-through;
  } 
  
  /* Add a "checked" mark when clicked on */
   ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  } 
  
  /* Style the close button */
  .close {
    padding: 10px 10px 10px 15px;
    position: absolute;
    content: 'x';
    font-weight: 300;
    
  } 
  
  /* Style the header */
   .header {
    /* background-color: #f44336; */
    padding: 30px 40px;
    color: white;
    text-align: center;
  } 
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  } 
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: black;
  } 
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    border-radius: 12px;
    margin-top: 5px;
    width: 25%;
    background: #e68e0b;
    color:white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  } 
  
   .addBtn:hover {
    background-color: rgb(76, 219, 76);
    border: 2px black solid;
    color: black;
  }

/* MEDIA QUerYYYYYY */
@media screen and (max-device-width: 780px) {
  #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    background-color: #3A7BF2;
    background-image: url(./background.jpg)
  }}

  @media screen and (max-device-width: 780px) {
  .lead-heading{
    font-size: 20px;
    color: white;
    height: 20%;

  }}

@media screen and (max-device-width: 780px) {
 
  .container{
    display: flexbox;
    font-size: 50px;
    padding: 100px;
    border: 8px solid black;
    flex-direction: column;
    align-items: center;
    width: 50%;
  
  }
}

@media screen and (max-device-width: 780px){
#delButton{
  padding: 5px 5px 5px 5px;
  position: absolute;
  width: 10%;
} }

  @media screen and (max-device-width: 780px){
    .btnStyle{
    width: 50%;
    
    }} 
    

    @media screen and (max-device-width: 780px){
      #splash{
      width: 100%;
      
      }}


      @media screen and (max-device-width: 780px){
        .btnStyle{
        width: 50%;
        
        }}
        @media screen and (max-device-width: 780px){
          .input-box{
          width: 75%;
          
          
          }}

          @media screen and (max-device-width: 780px){
            .input-box ::placeholder{
            font-size: 10px;

            }}

            @media screen and (max-device-width: 780px){
            .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px 16px 12px 16px;
            content: 'x';
            font-weight: 300;}}

            
            
           
            /* @media screen and (max-device-width: 980px){
              #myUl{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                
              
              
              }}; */
@media screen and (max-device-width: 780px){
  #sign-outbtn    {    
  
  background-color: transparent;
            justify-content: flex-start;
            color: rgb(15, 13, 13);
            height: 10px;
            width: 20px;
            border-radius: 2px;
        }}

     
